{% extends 'base.html'  %}
{% block title %}Category Summary - DhakaMart{% endblock %}

{% block content %}
            <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Categories</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to DhakaMart..</p>
                </div>
            </div>
        </header>  


        <section>
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">

                    {% for category in categories %}
                    <div class="col-md-4 mb-4">
                        <a href="{% url 'category' category.name %}" class="btn btn-outline-dark w-100">
                            {{ category.name }}
                        </a>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
{% endblock %}