{% extends 'base.html' %}

{% block title %}{{ category.name }} - DhakaMart{% endblock %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">{{ category.name }}</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to {{ category.name }} - category. Hope you enjoy your shopping experience.</p>
                </div>
            </div>
        </header>


        <!-- Section-->
        {% include 'section.html' %}

{% endblock %}