{% extends 'base.html' %}

{% block title %}About Us - DhakaMart{% endblock %}

{% block extra_head %}
    <style>
        .search-box {
            max-width: 500px;
        }

        .search-box input {
            border-radius: 50px 0 0 50px;
            padding-left: 20px;
        }

        .search-box button {
            border-radius: 0 50px 50px 0;
            padding: 0 25px;
        }

        .search-box input:focus {
            box-shadow: none;
            border-color: #0d6efd;
        }
    </style>
{% endblock %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Search Products</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Find what are you lookinf for...</p>
                </div>
            </div>
        </header>

        <!-- Search Section -->
            
        <!-- Section-->
        <section class="py-5">
        {% if search %}
            {% include 'section.html' %}
        {% else %}
            <p>You searched nothing.</p>
        {% endif %}
        </section>                 
            
            

{% endblock %}