<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}

            <div class="col mb-5">
                <div class="card h-100 shadow-sm border-0 product-card">

                    {% if product.on_sale %}
                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    {% endif %}

                    <!-- Image with thumbnail -->
                    
                    <!-- {% if product.image %}
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}" style="height: 250px; object-fit: cover; width: 100%;" />
                    {% else %}
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="No image" style="height: 250px; object-fit: cover; width: 100%;" />
                    {% endif %} -->

                    {% if product.image %}
                        <img class="card-img-top" 
                            src="{{ product.image_thumbnail.url }}" 
                            loading="lazy" 
                            alt="{{ product.name }}" 
                            style="height: 250px; object-fit: cover; width: 100%;" />
                    {% else %}
                        <img class="card-img-top" 
                            src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" 
                            loading="lazy" 
                            alt="No image" 
                            style="height: 250px; object-fit: cover; width: 100%;" />
                    {% endif %}

                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            
                            {% if product.on_sale %}

                                <span class="text-muted text-decoration-line-through small me-1">{{ product.price }} ৳</span>
                                <span class="fw-bold text-danger fs-5">{{ product.sale_price }} ৳</span>

                            {% else %}
                                <span class="fw-bold text-danger fs-5">{{ product.price }} ৳</span>
                            {% endif %}
                            
                            </div>
                    </div>

                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex justify-content-center align-items-center gap-2">
                            <a class="btn btn-outline-dark mt-auto" href="{% url 'product_detail' product.id %}">View options</a>
                        
                        </div>
                    </div>

                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>